.header{
	background-color: red;
	min-height: 70px;
}

.wrapper{
	overflow: hidden;
	border: 5px solid green;
}
.contact{
	background-color: blue;
	min-height: 150px;
	width: 50%;
	float: left;
}
.blog{
	background-color: yellow;
	min-height: 150px;
	width: 50%;
	float: right;
}
.footer{
	background-color: black;
	min-height: 70px;
}
img{
	width: 800px;
	height: 400px;
}